.card {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image {
    display: flex;
    background-color: rgb(145, 146, 158);
    color: white;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-wrap: wrap;
}

.img-card {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(145, 146, 158);

}

.title-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}

.title-content {
    flex-wrap: wrap;
    margin: 0px 10px 10px 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 10px 10px;
}

.link {
    display: flex;
    margin: 20px 20px 20px 10px;
    gap: 20px;
}

@media screen and (max-width: 500px) {

    .card {
        width: auto;
    }

    .img-card {
        width: 100%;
        height: max-content;
    }

    .image {
        height: fit-content;
    }

}